* {
  --rose-taupe: #8b575cff;
  --old-rose: #c98986ff;
  --orchid-pink: #f6bdd1ff;
  --pale-purple-pantone: #f6e4f6ff;
  --cultured: #f4f4f4ff;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #0081a7ff;
  padding: 20px;
}

.headShot {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  transition: 200ms transform ease-in-out;
}

.head-shot:hover {
  transform: scale(1.025);
}

.headerContainer {
  padding: 60px;
  text-align: center;
  background-color: #00afb9ff;
  color: white;
  font-size: 30px;
}
