* {
  --celadon-blue: #0081a7ff;
  --maximum-blue-green: #00afb9ff;
  --light-yellow: #fdfcdcff;
  --peach-puff: #fed9b7ff;
  --bittersweet: #f07167ff;
}
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #f07167ff;
  padding: 20px;
}
.header .infoBar {
  border-style: inset;

  margin-right: 50%;
  padding-bottom: 50%;
  background-color: #0081a7ff;
}
